VITE_FIREBASE_API_KEY=AIzaSyBID8MfQwoBo8tMb-1Go0aPK4IUA_b5HzA
VITE_FIREBASE_AUTH_DOMAIN=proutes-c5f32.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=proutes-c5f32
VITE_FIREBASE_STORAGE_BUCKET=proutes-c5f32.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=625620962197
VITE_FIREBASE_APP_ID=1:625620962197:web:9c65eaaf2e3da4e2b3849c
